@charset "UTF-8";
/* CSS Document */
@media (max-width: 1199px){
	
	 }
@media (max-width: 991px){
	.conteiner {
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
	}
	.nav-menu ul.ul-menu li a {
    padding-left: 15px;
    padding-right: 15px;
	display:block;
}
.wrapper_block1 {
    max-width: 100%;
    height: 150px;
    background: #e2e2e2;
    padding: 20px;
}
.wrapper_block1 h1 {
    color: #5a5a5a;
    font-size: 34px;
    padding-bottom: 13px;
    font-family: 'oswaldextralight';
}
.wrapper_block1 h2 {
    font-size: 14px;
    color: #acacac;
    font-family: 'oswaldextralight';
}
.flex_box .item {
    display: flex;
    max-width: 150px;
    justify-content: left;
    flex-wrap: wrap;
}
.flex_box .item span:nth-child(2) {
    font-size: 12px;
}
	 }
@media (max-width: 767px){
	.conteiner {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.search_btn {
    position: absolute;
    right: -2px;
}
.logotip{
	float:none;
	margin:0 auto;
	display:block;
	text-align:center;
	}
.wrappre_search{
	margin-top:30px;
	float:none;
	width:100%
	}
.search{
	max-width: 450px;
	}
.nav-menu ul.ul-menu li {
    list-style: none;
    float: none;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 14px;
}
.nav-menu ul.ul-menu li a {
    height: 39px;
}
.nav-menu ul.ul-menu {
    height: auto;
}
.wrapper_block1 {
    max-width: 100%;
    height: 100px;
    background: #e2e2e2;
    padding: 20px;
}
.wrapper_block1 h1 {
    color: #5a5a5a;
    font-size: 20px;
    padding-bottom: 0px;
    font-family: 'oswaldextralight';
}
.flex_box {
    display: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f3f3f3;
    border-bottom: solid 1px #e7e7e7;
    padding: 12px;
}
.flex_box .item {
    display: flex;
    max-width: 100%;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
	 }
@media (max-width: 600px){
	.conteiner {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.search {
    max-width: 375px;
}
	}
@media (max-width: 470px){
	.conteiner {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.search {
    max-width: 270px;
}
	
	 }

